/* Background image (change the URL to change the image) */
body {
    background: rgb(var(--color-background)) url("https://cdn.discordapp.com/attachments/645334093877215232/788752928071876618/K_8.png") center/100% fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Transparent banner - use together with background image */
.banner[data-v-5445dac8] {
    background-image: none !important;
    background-color: rgb(36,37,56,0);
}

/* Small avatar -> circle frame */
.text .avatar[data-v-6c3dc0b8]  {
    border-radius: 100%;
    transition: transform .2s;
}
/* Small avatar hover */
.text .avatar[data-v-6c3dc0b8]:hover  {
    transform: scale(4);
}

/* Comments section avatar -> circle frame */
.avatar[data-v-5a191921]  {
    border-radius: 100%;
    transition: transform .2s;
}
/* Comments section avatar hover */
.avatar[data-v-5a191921]:hover {
    transform: scale(6);
}

/* favourites section */
.favourite[data-v-45543a61] {
    transition: transform .2s;
    border-radius: 20%;
}
/* favourites section hover */
.favourite[data-v-45543a61]:hover {
    transform: scale(1.6);
}
/*  favourites section bugfix */
.favourites-wrap[data-v-45543a61]{
    overflow: visible;
}

/* About section scrollbar */
.user .about > div.content-wrap {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 111, 0) rgba(31, 35, 45, 0.95);
}

/* Anime/manga progress bar color */
.user-page-unscoped.red .progress .bar {
    background: linear-gradient(to right, #f00 5%, #ffed00 97%);
}

/* Profile activity (status/messages/list) Makes border corners rounded. Also required as bugfix for .avatar hover! */
.wrap[data-v-6c3dc0b8] {
    border-radius: 20px;
    overflow: visible;
}
/* Anime/manga displaying rounded corners, part 2 */
.cover[data-v-6c3dc0b8]{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Horizontal rule border settings */
.markdown hr {
    border: solid 1px rgb(255, 111, 0);
    border-radius: 1px;
}

/* Blockquotes centered*/
.markdown blockquote {
  margin-right: auto;
}

/* Site background color transparency */
.site-theme-dark{
 --color-foreground: 16,24,35,.90;
}

/*Hides hoh download button*/
.hohDownload {
    display: none;
}

/* Changes scrollbar for whole page (Firefox)*/
html {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 111, 0) rgba(31, 35, 45, 0.95);
}

/* Chrome scrollbar */
::-webkit-scrollbar {
    width: 6px;
    background: #01232d;
}
::-webkit-scrollbar-corner {
    background: #01232d;
}
::-webkit-scrollbar-thumb {
    background: #ff6f00;
    -webkit-border-radius: 1ex;
}

/* Modifies load-more button */
.load-more[data-v-6f203cf2]{
    border-radius: 30px;
    font-family: 'Brush Script MT', cursive;
    font-size: 3rem;
    color: rgb(255, 111, 0);
    margin:auto;
    max-width: 200px;
}

/* Changes top navbar's color. (Normal mode and hover)*/
.site-theme-dark .nav-unscoped.transparent  {
    background: rgb(var(--color-foreground));
}
.site-theme-dark .nav-unscoped.transparent:hover {
    background: rgb(16, 24, 35, 0.99);
}
.site-theme-dark .nav-unscoped{
    background: rgb(var(--color-foreground));
}
.site-theme-dark .nav-unscoped:hover{
    background: rgb(16, 24, 35, 0.99);
}

/* Changes "Overview/Anime List/Manga List..." nav section. */
.nav-wrap[data-v-5445dac8] {
    background: rgb(var(--color-foreground));
    width: 65%;
    margin: 0 auto;
    border-radius: 30px;
}
.nav[data-v-5445dac8] {
    padding: 0px;
}

/* Re-aligns profile picture and name.*/
.banner .container[data-v-5445dac8]
{
    max-width: 65%;
}

/* Re-aligns more stuff...*/
.content.container {
    max-width: 65%;
    padding-left: 0px;
    padding-right: 0px;
}
.activity-feed-wrap[data-v-09492909] {
    margin-left: 3%;
}
.stats-wrap[data-v-5c30286e]
{
    margin-left: 3%;
